SUPABASE_URL=https://itvjiokjcaynegclmrxp.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml0dmppb2tqY2F5bmVnY2xtcnhwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU4MzQwMDQsImV4cCI6MjA5MTQxMDAwNH0.I37Sg37oCU4y8DYJe3h1Yfbo_4Kc2_O9idRcoibX2aI
SECRET_KEY=rajivnagar-shala-2025-secret
